:root{
    /* --fondo: black; */
    --fondo: white;
    /* --fondo_caja: #242026; */
    --fondo_caja: rgb(1, 43, 1);
    /* --borde_caja: #8f7cec; */
    --borde_caja: red;
    /* --neon: ; */
    --titulo: #fff; 
    --letraBotonSubmit: #cbbddb;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--fondo);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate( -50%, -50%);
    background: var(--fondo_caja);
    box-shadow: 0 15px 25px var(--borde_caja);
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--titulo);
    text-align: center;
}

.login-box .user-box input {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--titulo);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--titulo);
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--titulo);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus-label,
.login-box .user-box input:valid-label {
    top: -85px;
    left: 0px;
    color: var(--borde_caja);
    font-size: 12px;
}

#submit {
    padding: 10px 20px;
    background: #242026;
    color: var(--letraBotonSubmit);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid var(--borde_caja);
    margin: auto;
}

#submit:hover {
    background: var(--borde_caja);
    color: var(--titulo);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--borde_caja), 0 0 25px var(--borde_caja), 0 0 50px var(--borde_caja), 0 0 100px var(--borde_caja);
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register {
    font-size: 14px;
    text-decoration: none;
    color: var(--letraBotonSubmit);
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a {
    margin: auto;
    color: var(--borde_caja);
    text-decoration: none;
}